<div class="row">

    <div class="col-md-3">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td>Id</td>
                    <td>{{employee.id}}</td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>{{employee.name}}</td>
                </tr>
                <tr>
                    <td>Location</td>
                    <td>{{employee.location}}</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>{{employee.email}}</td>
                </tr>
                <tr>
                    <td>Mobile</td>
                    <td>{{employee.mobile}}</td>
                </tr>
            </tbody>
        </table>
        <button routerLink="/employees" class="btn btn-info">Back</button>
    </div>

</div>